@page "/"
@page "/index"
@inject IMapper mapper
@inject ILoggerFactory factory
@inject NovelsContext context

<PageTitle>Text Editor</PageTitle>

<div class="card">
    <div class="card-header">
        <strong>New reply section:</strong>
    </div>
    <div class="card-body">
        <EditForm Model="@settings" OnSubmit="AddNewReplyAsync">
            <div class="form-group mt-2">
                <label for="hero_name">Hero:</label>
                <InputText id="hero_name" class="form-control" placeholder="Enter hero name" @bind-Value="settings!.HeroName"></InputText>
            </div>
            <div class="form-group mt-2">
                <label for="hero_reply">Reply:</label>
                <InputTextArea id="hero_reply" class="form-control" placeholder="Enter hero reply" @bind-Value="settings!.HeroReply"></InputTextArea>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Add new reply</button>
            <ul class="validation-errors mt-2">
                @foreach (var error in validationErrors!)
                {
                    <li class="validation-message">@error</li>
                }
            </ul>
        </EditForm>
    </div>
</div>

<div class="card mt-2">
    <div class="card-header">
        <strong>Options section:</strong>
    </div>
    <div class="card-body">
        <p><em>Heroes:</em></p>
        @if (heroes == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            if (heroes.Count() > 0)
            {
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="w-25">Name:</th>
                            <th class="w-25">Color:</th>
                            <th class="w-25">Replies count:</th>
                            <th class="w-25">Actions:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var hero in heroes)
                        {
                            <tr>
                                <td class="w-25">@hero.Name</td>
                                <td class="w-25">@hero.Color</td>
                                <td class="w-25">@hero?.Replies?.Count</td>
                                <td class="w-25"><button class="btn btn-primary" @onclick="@(async () => await RemoveHeroAsync(hero!.Id))">remove</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <strong class="mt-2">heroes is empty</strong>
            }
        }
        <p><em>Replies:</em></p>
        @if (replies == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            if (replies.Count() > 0)
            {
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="w-25">Order</th>
                            <th class="w-25">Text</th>
                            <th class="w-25">Hero</th>
                            <th class="w-25">Actions:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reply in replies)
                        {
                            <tr>
                                <td class="w-25">@reply.Order</td>
                                <td class="w-25">@reply.Text</td>
                                <td class="w-25">@reply.Hero?.Name</td>
                                <td class="w-25"><button class="btn btn-primary" @onclick="@(async () => await RemoveReplyAsync(reply.Id))">remove</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <strong class="mt-2">replies is empty</strong>
            }
        }
    </div>
</div>

<div class="card mt-2">
    <div class="card-header">
        <strong>Replies:</strong>
    </div>
    <div class="card-body">
        @if (replies == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            if (replies.Count() > 0)
            {
                foreach (var reply in replies)
                {
                    var color = reply?.Hero?.Color;
                    var order = reply?.Order;
                    var name = reply?.Hero?.Name;
                    var text = reply?.Text;
                    var badgeClass = "badge border rounded-pill hero-circle btn";
                    var id = reply!.Hero!.Id;
                    <p class="mt-2"><strong style="color:@color">@order) </strong><span style="background:@color" class="@badgeClass" @onclick="@(() => ChangeNameAsync(id))">@name:</span> @text</p>
                }
            }
            else
            {
                <strong class="mt-2">replies is empty</strong>
            }
        }
    </div>
</div>


@code {
    private Random? random;
    private ReplySettings? settings;
    private List<string>? validationErrors;
    private ILogger<TextEditor>? logger;
    private IEnumerable<Hero>? heroes;
    private IEnumerable<Reply>? replies;

    protected override async Task OnInitializedAsync()
    {
        random = new();
        settings = new();
        validationErrors = new();
        logger = factory.CreateLogger<TextEditor>();

        await UpdateUiAsync();
        await base.OnInitializedAsync();
    }

    private async Task UpdateUiAsync()
    {
        var heroEntities = await context.GetHeroesAsync();
        var replyEntities = await context.GetOrderedRepliesAsync();
        heroes = heroEntities.MapToModels(mapper);
        replies = replyEntities.MapToModels(mapper);
    }

    private async Task ChangeNameAsync(Guid id)
    {
        try
        {
            await Task.CompletedTask; // todo: logic
        }
        catch (Exception ex)
        {
            logger!.LogError(ex, ex.Message);
        }
    }

    private async Task RemoveHeroAsync(Guid id)
    {
        try
        {
            var repliesToRemove = context.Replies.Where(x => x.HeroId == id);
            if (repliesToRemove != null)
            {
                context.Replies.RemoveRange(repliesToRemove);
                var heroToRemove = await context.Heroes.FirstOrDefaultAsync(x => x.Id == id);
                if (heroToRemove != null)
                {
                    context.Heroes.Remove(heroToRemove);
                }
                await context.SaveChangesAsync().ConfigureAwait(false);
                await UpdateUiAsync();
            }
        }
        catch (Exception ex)
        {
            logger!.LogError(ex, ex.Message);
        }
    }

    private async Task RemoveReplyAsync(Guid id)
    {
        try
        {
            var replyToRemove = await context.Replies.FirstOrDefaultAsync(x => x.Id == id);
            if (replyToRemove != null)
            {
                context.Replies.Remove(replyToRemove);
                await context.SaveChangesAsync().ConfigureAwait(false);
                await UpdateUiAsync();
            }
        }
        catch (Exception ex)
        {
            logger!.LogError(ex, ex.Message);
        }
    }

    private async Task AddNewReplyAsync()
    {
        try
        {
            if (validationErrors!.Count > 0)
            {
                validationErrors.Clear();
            }
            if (settings!.HeroName!.IsEmpty())
            {
                validationErrors.Add("Hero name should be filled!");
            }
            if (settings!.HeroReply!.IsEmpty())
            {
                validationErrors.Add("Hero reply should be filled!");
            }
            if (validationErrors.Count == 0)
            {
                var lastReply = replies?.LastOrDefault();
                var existingHero = heroes?.FirstOrDefault(x => x.Name == settings!.HeroName);
                if (existingHero != null)
                {
                    var reply = new ReplyEntity
                    {
                        Text = settings!.HeroReply,
                        Hero = await context.Heroes.FirstOrDefaultAsync(x => x.Id == existingHero.Id),
                        Order = GetOrder(lastReply)
                    };
                    await context.Replies.AddAsync(reply).ConfigureAwait(false);
                }
                else
                {
                    var existingColors = heroes?.Select(x => x.Color);
                    var color = GenerateHeroColor();
                    while (existingColors!.Contains(color))
                    {
                        color = GenerateHeroColor();
                    }
                    var hero = new HeroEntity
                    {
                        Name = settings!.HeroName,
                        Color = color
                    };
                    var reply = new ReplyEntity
                    {
                        Text = settings!.HeroReply,
                        Hero = hero,
                        Order = GetOrder(lastReply)
                    };
                    await context.Heroes.AddAsync(hero).ConfigureAwait(false);
                    await context.Replies.AddAsync(reply).ConfigureAwait(false);
                }
                await context.SaveChangesAsync().ConfigureAwait(false);
                await UpdateUiAsync();
            }
        }
        catch (Exception ex)
        {
            logger!.LogError(ex, ex.Message);
        }
    }

    private string GenerateHeroColor() => $"#{random?.Next(0x1000000):X6}";

    private uint GetOrder(Reply? lastReply) => lastReply == null ? 1 : lastReply.Order + 1;
}
