@page "/"
@page "/index"
@implements IAsyncDisposable
@inject IMapper mapper
@inject ILoggerFactory factory
@inject IJSRuntime js
@inject NovelsContext context

<PageTitle>Text Editor</PageTitle>

<div class="card">
    <div class="card-header">
        <strong>New reply section:</strong>
    </div>
    <div class="card-body">
        <EditForm Model="@settings" OnSubmit="AddNewReplyAsync">
            <div class="form-group mt-2">
                <label for="hero_name">Hero:</label>
                <InputText id="hero_name" class="form-control" placeholder="Enter hero name" @bind-Value="settings!.HeroName"></InputText>
            </div>
            <div class="form-group mt-2">
                <label for="hero_reply">Reply:</label>
                <InputTextArea id="hero_reply" class="form-control" placeholder="Enter hero reply" @bind-Value="settings!.HeroReply"></InputTextArea>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Add new reply</button>
            <ul class="validation-errors mt-2">
                @foreach (var error in validationErrors!)
                {
                    <li class="validation-message">@error</li>
                }
            </ul>
        </EditForm>
    </div>
</div>

<div class="card mt-2">
    <div class="card-header">
        <strong>Replies:</strong>
    </div>
    <div class="card-body">
        @if (replies == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            if (replies.Count() > 0)
            {
                foreach (var reply in replies)
                {
                    var color = reply?.Hero?.Color;
                    var order = reply?.Order;
                    var name = reply?.Hero?.Name;
                    var text = reply?.Text;
                    var badgeClass = "badge border rounded-pill hero-circle btn";
                    var id = reply!.Hero!.Id;
                    <p class="mt-2"><strong style="color:@color">@order) </strong><span style="background:@color" class="@badgeClass" @onclick="@(async () => await OpenDialogAsync(id))">@name:</span> @text</p>
                }
                <dialog id="@DialogId" class="text-editor-dialog">
                    <div class="card" style="width: 300px; height: 150px;">
                        <div class="card-header">
                            <strong>Hero: @currentHero?.Name</strong>
                        </div>
                        <div class="card-body">
                            <InputText class="form-control" placeholder="@currentHero?.Name" @bind-Value="name"></InputText>
                            <button class="btn btn-primary mt-2" @onclick="ChangeHeroNameAsync">save</button>
                            <button class="btn btn-primary mt-2" @onclick="CloseDialogAsync">close</button>
                        </div>
                    </div>
                </dialog>
            }
            else
            {
                <strong class="mt-2">replies is empty</strong>
            }
        }
    </div>
</div>

@code {
    private const string DialogId = "reply-dialog";

    private string? name;
    private Hero? currentHero;
    private Random? random;
    private ReplySettings? settings;
    private List<string>? validationErrors;
    private ILogger<TextEditor>? logger;
    private IEnumerable<Hero>? heroes;
    private IEnumerable<Reply>? replies;
    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await js.InvokeAsync<IJSObjectReference>("import", "./js/text-editor.js");
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task OnInitializedAsync()
    {
        random = new();
        settings = new();
        validationErrors = new();
        logger = factory.CreateLogger<TextEditor>();

        await UpdateUiAsync();
        await base.OnInitializedAsync();
    }

    private async Task UpdateUiAsync()
    {
        var heroEntities = await context.GetHeroesAsync();
        var replyEntities = await context.GetOrderedRepliesAsync();
        heroes = heroEntities.MapToModels(mapper);
        replies = replyEntities.MapToModels(mapper);
    }

    private async Task OpenDialogAsync(Guid id)
    {
        try
        {
            if (module != null)
            {
                currentHero = heroes?.FirstOrDefault(x => x.Id == id);
                await module.InvokeVoidAsync("openDialog", DialogId);
            }
        }
        catch (Exception ex)
        {
            logger!.LogError(ex, ex.Message);
        }
    }

    private async Task CloseDialogAsync()
    {
        try
        {
            if (module != null)
            {
                await module.InvokeVoidAsync("closeDialog", DialogId);
            }
        }
        catch (Exception ex)
        {
            logger!.LogError(ex, ex.Message);
        }
    }

    private async Task ChangeHeroNameAsync()
    {
        try
        {
            var hero = await context.Heroes.FirstOrDefaultAsync(x => x.Id == currentHero!.Id);
            if (hero != null)
            {
                hero.Name = name;
                context.Heroes.Update(hero);
                await context.SaveChangesAsync().ConfigureAwait(false);
                await UpdateUiAsync();
                await CloseDialogAsync();
            }
        }
        catch (Exception ex)
        {
            logger!.LogError(ex, ex.Message);
        }
    }

    private async Task AddNewReplyAsync()
    {
        try
        {
            if (validationErrors!.Count > 0)
            {
                validationErrors.Clear();
            }
            if (settings!.HeroName!.IsEmpty())
            {
                validationErrors.Add("Hero name should be filled!");
            }
            if (settings!.HeroReply!.IsEmpty())
            {
                validationErrors.Add("Hero reply should be filled!");
            }
            if (validationErrors.Count == 0)
            {
                var lastReply = replies?.LastOrDefault();
                var existingHero = heroes?.FirstOrDefault(x => x.Name == settings!.HeroName);
                if (existingHero != null)
                {
                    var reply = new ReplyEntity
                    {
                        Text = settings!.HeroReply,
                        Hero = await context.Heroes.FirstOrDefaultAsync(x => x.Id == existingHero.Id),
                        Order = GetOrder(lastReply)
                    };
                    await context.Replies.AddAsync(reply).ConfigureAwait(false);
                }
                else
                {
                    var existingColors = heroes?.Select(x => x.Color);
                    var color = GenerateHeroColor();
                    while (existingColors!.Contains(color))
                    {
                        color = GenerateHeroColor();
                    }
                    var hero = new HeroEntity
                    {
                        Name = settings!.HeroName,
                        Color = color
                    };
                    var reply = new ReplyEntity
                    {
                        Text = settings!.HeroReply,
                        Hero = hero,
                        Order = GetOrder(lastReply)
                    };
                    await context.Heroes.AddAsync(hero).ConfigureAwait(false);
                    await context.Replies.AddAsync(reply).ConfigureAwait(false);
                }
                await context.SaveChangesAsync().ConfigureAwait(false);
                await UpdateUiAsync();
            }
        }
        catch (Exception ex)
        {
            logger!.LogError(ex, ex.Message);
        }
    }

    private string GenerateHeroColor() => $"#{random?.Next(0x1000000):X6}";

    private uint GetOrder(Reply? lastReply) => lastReply == null ? 1 : lastReply.Order + 1;

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module != null)
        {   
            await module.DisposeAsync();
        }
    }
}
